@page
@model RostrosFelices.Pages.Empleados.DeleteModel
@{
}
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.NombreEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.NombreEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellidos)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Documento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Cargo)
        </dd>

    </dl>
    <form method="post">
        <input type="hidden" asp-for="Empleado.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to list</a>
    </form>
</div>